<!-- <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Company name</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="#">Features</a>
    <a class="p-2 text-dark" href="#">Enterprise</a>
    <a class="p-2 text-dark" href="#">Support</a>
    <a class="p-2 text-dark" href="#">Pricing</a>
  </nav>
  <a class="btn btn-outline-primary" href="#">Sign up</a>
</div> -->
<app-menu></app-menu>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Send Push Notification</h1>
 
</div>
<div class="container">

     How can i use ? <br />POST an Http request <span class="code">http://api.pushforever.online/api/v1/push</span> with the following parameters
        <ul>
          <li>
              <span class="code">token</span> Your application token key which you can get from member area 
          </li>
          <li>
              <span class="code">user</span> Your user key which you can get from member area
          </li>
          <li>
              <span class="code">title</span> 
          </li>
          <li>
              <span class="code">message</span>
          </li>
        </ul>
        


    <div class="card-deck mb-3 text-center">
  <div class="card mb-4 shadow-sm">
    <!-- <div class="card-header">
      <h4 class="my-0 font-weight-normal">Ücretsiz</h4>
    </div> -->
    <div class="card-body">
      <ul class="list-unstyled mt-3 mb-4">
        <!-- <li>you can send 7500 free push notification every month</li> -->
 
      </ul>
      <a type="button" class="btn btn-lg btn-block btn-primary" href="/login">Login</a>
    </div>
  </div>
  </div>
</div>
<div class="container">
  

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="../../assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
        <small class="d-block mb-3 text-muted">&copy; 2018  </small>
      </div>
    
    
    </div>
  </footer>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/vendor/holder.min.js"></script>
<script>
  Holder.addTheme('thumb', {
    bg: '#55595c',
    fg: '#eceeef',
    text: 'Thumbnail'
  });
</script>