<app-menu></app-menu>
<div class="row" >
    <div class="col-lg-12" style="margin: 20px">


        <h5>Email Reset</h5>
        <br />
      Please 
            
      <table class="table">
            <tr>
                    <td>Password</td>
                    <td>         <input type="password" [(ngModel)]="txtPassword" class="form-control" /></td>
                </tr>
                <tr>
                        <td>Confirm Password</td>
                        <td>  <input type="password" [(ngModel)]="txtPasswordConfirm" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                                <input type="button" (click)="ParolaSifirlar()" class="btn btn-info" value="Update " />
                       
                       <div [ngClass]="cssClass">{{text}}</div>
                            </td>
                    </tr>
      </table>
          
 


      
 
    </div>
</div>