<app-menu></app-menu>
<div class="row">
    <div class="col-lg-12" style="margin: 20px">


        <h5>1. What is PushForever ?</h5>
        <br />
        <p>
            PushForever can help send push notification from our api to your device which has already available Google Play and App Store
            <br>You can see your token and user key in your control panel. Token and user key will not change.


        </p>
        <!-- <h5>2. is this free ?</h5>
        <p>you can send 7500 free push notification every month</p> -->
        <h5>2.   How can i use ? </h5>
        POST an Http request <span class="code">http://api.pushforever.online/api/v1/push</span> with the following parameters
        <ul>
          <li>
              <span class="code">token</span> Your application token key which you can get from member area 
          </li>
          <li>
              <span class="code">user</span> Your user key which you can get from member area
          </li>
          <li>
              <span class="code">title</span> 
          </li>
          <li>
              <span class="code">message</span>
          </li>
        </ul>
          
        </div>
</div>